* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  --maroon: #7B0E26;
  --tan: #DFB596;
  --light: #F7F5F3;
  font-size: 87.5%;
  background: var(--maroon);
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-kerning: normal;
  letter-spacing: -.002em;
  color: var(--light);
  font-size: 6.8rem;
}

h4, h5, h5, a, p {
  font-family: 'IBM Plex Sans', sans-serif;
}
