@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,500;1,500&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

#smooth-wrapper {
  z-index: 10;
}

html {
  font-size: 87.5%;
  --maroon: #7B0E26;
  --tan: #ffcca7;
  --light: #F7F5F3;
  --dark: #474444;
  --unit: 12.5%;
  --gutter: 1.25rem;
  --colOne: var(--unit);
  --colTwo: calc(var(--unit) * 2);
  --colThree: calc(var(--unit) * 3);
  --colFour: calc(var(--unit) * 4);
  --colFive: calc(var(--unit) * 5);
  --colSix: calc(var(--unit) * 6);
  --colSeven: calc(var(--unit) * 7);
  --colEight: calc(var(--unit) * 8);
  --powerEase: all 0.265s cubic-bezier(0.67, 0, 0.35, 0.98);
  --colorSwapEase: color .425s ease-in-out, background-color .425s ease-in-out, -webkit-text-stroke-color .425s ease-in-out, fill .425s ease-in-out, stroke .425s ease-in-out;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: var(--maroon);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}

a.internalLink {
  margin-top: 1rem;
  padding-bottom: 1px;
  text-decoration: underline;
  text-underline-offset: .27em;
  position: relative;
  transition: var(--powerEase);
}

a.internalLink:after, a.internalLink:before {
  content: '';
  background-image: url("/linkArrow.svg");
  background-position: center;
  background-size: 100%;
  width: .9rem;
  display: block;
  position: absolute;
  top: .25rem;
  transition: var(--powerEase);
  height: .9rem;
}

a.internalLink:hover {
  transform: translateX(1.75rem);
  transition: var(--powerEase);
}

a.internalLink:before {
  transform: translateX(-2rem);
  opacity: 0;
}

a.internalLink:hover:before {
  transform: translateX(-1.5rem);
  opacity: 1;
  transition-delay: .2s;
  transition: var(--powerEase);
}

a.internalLink:after {
  right: -1.5rem;
  opacity: 1;
}

a.internalLink:hover:after {
  opacity: 0;
  transform: translateX(1rem);
  transition: var(--powerEase);
}

a.secondaryLink {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 1rem;
  text-underline-offset: .15rem;
  display: inline-block;
  transition: var(--powerEase);
}

a.secondaryLink:hover {
  opacity: .65;
  transition: var(--powerEase);
}

ul {
  padding-left: 0;
  list-style-type: none;
}

ul li {
  line-height: 1.5;
  position: relative;
}

ul li::before {
  position: absolute;
  background: var(--dark);
  width: 4px;
  display: block;
  top: .65em;
  left: -.75rem;
  height: 4px;
  content: '';
}

blockquote {
  font-size: clamp(1.3rem, calc(1.3rem + ((1vw - 0.25rem) * 0.2679)), 1.6rem);
  font-family: 'Cormorant Garamond', serif;
  font-variant-numeric: lining-nums;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Cormorant Garamond', serif;
  font-variant-numeric: lining-nums;
  font-kerning: normal;
  letter-spacing: -.002em;
  color: var(--light);
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.25rem) * 6.25)), 10rem);
  line-height: 89%;
  position: relative;
  transition: var(--colorSwapEase);
}

h1.hasAnimatedUnderline::after {
  position: absolute;
  left: 0;
  bottom: -1em;
  content: '';
  background: var(--tan);
}

h2, label {
  letter-spacing: .12em;
  font-size: clamp(0.95rem, calc(0.95rem + ((1vw - 0.25rem) * 0.1786)), 1.15rem);
  font-variant-numeric: lining-nums;
  font-weight: 600;
  color: var(--maroon);
  margin-bottom: calc(var(--gutter));
  text-transform: uppercase;
  font-family: 'IBM Plex Sans', sans-serif;
}

h3 {
  font-size: clamp(1.45rem, calc(1.45rem + ((1vw - 0.25rem) * 0.7143)), 2.25rem) !important;
  letter-spacing: -.015em;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 500;
  font-variant-numeric: lining-nums;
  text-transform: none;
  color: var(--maroon);
  margin-bottom: .5rem;
}

h4 {
  color: var(--dark);
  opacity: .65;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: -.01em;
}

p, ul {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--dark);
  letter-spacing: -.022em;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.475;
  margin-bottom: 1.25rem;
}

li {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--dark);
  letter-spacing: -.022em;
  font-size: 1.15rem;
  font-weight: 300;
  line-height: 1.475;
  margin-bottom: .25rem;
}

::placeholder {
  color: var(--light);
  font-family: 'IBM Plex Sans', sans-serif;
  letter-spacing: -.022em;
  font-size: 1.15rem;
  font-weight: 300;
}

header {
  margin-bottom: 9rem;
  min-height: 102vh;
}

body {
  background: var(--maroon);
  transition: var(--colorSwapEase);
  overflow-x: hidden;
  height: 100%;
}

body.isLight {
  background: var(--light);
  transition: var(--colorSwapEase);
}

body.isLight header {
  transition: var(--colorSwapEase);
}

body.isLight header h2 {
  color: var(--dark);
  transition: var(--colorSwapEase);
}

body.isLight header h1.outlineHeading {
  -webkit-text-stroke-color: var(--maroon);
  transition: var(--colorSwapEase);
}

body.isLight header h1.solidHeading {
  color: var(--maroon);
  transition: var(--colorSwapEase);
}

body.isLight div#navbar nav a {
  color: var(--maroon);
  transition: var(--colorSwapEase);
}

body.isLight div#navbar svg.logo g path {
  fill: var(--maroon);
  transition: var(--colorSwapEase);
}

body.isLight div#navbar #hamburgerBtn svg path.hamburgerLine {
  stroke: var(--maroon);
  transition: var(--colorSwapEase);
}

.shortFooter {
  display: flex;
  justify-content: space-between;
}

.shortFooter > div {
  width: 50%;
}

.shortFooter > div p {
  width: unset;
}

footer {
  background: var(--maroon);
  padding: 3rem var(--gutter);
}

footer.noFooter {
  display: none;
}

footer * {
  color: var(--light);
}

footer *:not(:last-child) {
  margin-bottom: .5rem;
}

footer .topSplit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer #emailFormContainer {
  margin-top: calc(var(--gutter)*2);
}

footer #emailFormContainer form {
  position: relative;
}

footer #emailFormContainer input#emailField {
  width: 100%;
  background: transparent;
  border: none;
  margin-top: 1rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

footer #emailFormContainer input#emailField:focus {
  font-weight: 600;
}

footer #emailFormContainer input[type="submit"] {
  background: url("/emailArrow.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 1px;
  width: 42px;
  background-position: 100% 0;
  transition: var(--powerEase);
}

footer #emailFormContainer input[type="submit"]:hover {
  background-position: 65% 0;
  transition: var(--powerEase);
}

footer #emailFormContainer span.lineBottom {
  height: 1px;
  display: block;
  width: 100%;
  opacity: 1;
  background: var(--light);
  margin-top: .75rem;
}

footer .contactInfo span {
  margin: 0 1rem;
  display: inline-block;
}

footer .contactInfo a > h3, footer .contactInfo span > h3 {
  color: var(--tan);
  font-size: clamp(1.45rem, calc(1.45rem + ((1vw - 0.25rem) * 2.2768)), 4rem) !important;
  font-style: italic;
  display: block;
  text-underline-offset: .25rem;
}

footer .bottomSplit {
  margin-top: 6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .bottomSplit > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

footer .bottomSplit p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  min-width: 320px;
}

section {
  margin-bottom: calc(var(--gutter) * 10);
}

section.verticalListSmall + section.imageCarousel {
  margin-top: calc(var(--gutter) * -6);
}

.splitLineOverflow {
  overflow: hidden;
}

span.lineTop {
  height: 1px;
  display: block;
  width: 100%;
  opacity: .25;
  background: var(--maroon);
  margin-bottom: .75rem;
}

#navbar {
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100vw;
  padding: 1.25rem var(--gutter);
}

#navbar > div {
  cursor: pointer;
}

#navbar .logo {
  width: 3.5rem;
  cursor: pointer;
  transition: var(--powerEase);
}

#navbar .logo::hover {
  opacity: .5;
  transition: var(--powerEase);
}

#navbar > nav {
  display: none;
}

#navbar > nav a {
  color: var(--light);
  transition: var(--colorSwapEase);
  transition: opacity .25s linear;
}

#navbar > nav a:hover {
  opacity: .5;
  transition: opacity .25s linear;
}

#navbar svg.logo g path {
  fill: var(--light);
  transition: var(--colorSwapEase);
}

#navbar #hamburgerBtn {
  display: block;
  height: 4rem;
  width: 4rem;
  padding: .75rem;
}

#navbar #hamburgerBtn svg path.hamburgerLine {
  transition: var(--colorSwapEase);
}

#mobileNavMenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 19;
  display: flex;
  width: 100%;
  background: var(--light);
  height: 100vh;
  padding-bottom: 6rem;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  flex-direction: column;
  justify-content: flex-end;
}

#mobileNavMenu nav {
  display: flex;
  flex-direction: column;
}

#mobileNavMenu nav h1 {
  color: var(--maroon);
  font-size: 2.05rem;
  letter-spacing: -.014em;
}

#mobileNavMenu nav > span {
  margin-bottom: 2.25rem;
}

header.headerStandard {
  padding-top: 10rem;
  padding-left: var(--gutter);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10rem;
}

header.headerStandard h2 {
  color: var(--tan);
}

header#headerLarge {
  height: 102vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

header#headerLarge #companyNameContainer {
  display: flex;
  flex-direction: column;
  margin-right: var(--gutter);
  padding-left: var(--gutter);
  overflow: visible;
}

header#headerLarge #companyNameContainer span {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  width: 100%;
}

header#headerLarge #companyNameContainer span blockquote {
  width: 100%;
  max-width: 500px;
}

header#headerLarge div.imageContainer {
  overflow: hidden;
  height: 55%;
  margin-right: var(--gutter);
}

header#headerLarge div.imageContainer img {
  height: 100%;
  width: 100%;
  transform: scale(1.1);
  object-fit: cover;
}

header#headerLarge h1 {
  margin: 0;
}

header#headerLarge h1:last-child {
  text-indent: calc(var(--colOne)/2);
}

header#headerLarge blockquote {
  width: var(--colTwo);
  color: var(--tan);
  margin-left: calc(var(--gutter) * 2);
}

.headingOverlapContainer {
  display: grid;
}

.headingOverlapContainer h1 {
  grid-row: 1;
  grid-column: 1;
}

.headingOverlapContainer h1.outlineHeading {
  -webkit-text-stroke: clamp(0.55px, calc(0.021875rem + ((1vw - 3.5px) * 0.0353)), 1px) var(--light);
  -webkit-text-fill-color: transparent;
  color: transparent !important;
  z-index: 4;
}

.headingOverlapContainer h1.solidHeading {
  z-index: 5;
}

#transitionContainer {
  width: 100vw;
  z-index: 17;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  pointer-events: none;
}

#transitionContainer div.transitionCover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

#transitionContainer div.transitionCover:not(:last-of-type) {
  background: var(--maroon);
  height: 100vh;
  z-index: 17;
}

#transitionContainer div.transitionCover:last-of-type {
  background: var(--tan);
  height: 100vh;
  z-index: 16;
}

#loader {
  background: var(--light);
  width: 100vw;
  z-index: 30;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

#loader div.loaderCover {
  width: 100vw;
  height: 100vh;
  position: absolute;
  bottom: 0;
  left: 0;
}

#loader div.loaderCover:not(:last-of-type) {
  background: var(--maroon);
  height: 30vh;
  z-index: 31;
}

#loader div.loaderCover:last-of-type {
  background: var(--tan);
  height: 75vh;
  z-index: 30;
}

#loader #loaderLogos {
  z-index: 33;
  display: grid;
}

#loader #loaderLogos svg {
  grid-column: 1;
  display: block;
  width: 9.5rem;
  grid-row: 1;
}

#loader #loaderLogos svg#logoOutline {
  transform: translateY(0.7rem);
}

.verticalListSmall {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

.verticalListSmall p.sectionDescription {
  display: none;
}

.verticalListSmall.hasDescription p.sectionDescription {
  display: block;
  width: 40%;
  min-width: 310px;
  margin-bottom: var(--gutter);
  padding-right: var(--gutter);
  flex-grow: 1;
}

.verticalListSmall span.verticalListHeading {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.verticalListSmall .verticalListEntries {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  justify-content: space-between;
}

.verticalListSmall .verticalListEntries > div {
  width: 60%;
  flex-grow: 1;
}

.verticalListSmall .verticalListEntries div.listEntry {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.verticalListSmall .verticalListEntries div.listEntry h3 {
  margin-right: var(--gutter);
  min-width: 150px;
}

.verticalListSmall .verticalListEntries div.listEntry p {
  flex-grow: 1;
  margin-bottom: 0;
}

.verticalListSmall .verticalListEntries div.listEntry:not(:last-child) {
  margin-bottom: calc(var(--gutter)*2);
}

.verticalListLarge {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  max-width: 1600px;
}

.verticalListLarge div.largeListEntry {
  width: 100%;
  margin-bottom: calc(var(--gutter) *3);
}

.verticalListLarge div.largeListEntry > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.verticalListLarge div.largeListEntry > div h2 {
  width: 180px;
  margin-bottom: 1rem;
}

.verticalListLarge div.largeListEntry > div > div {
  width: var(--colFour);
  min-width: 340px;
  max-width: 600px;
  flex-grow: 1;
}

.verticalListLarge div.largeListEntry > div > div h3 {
  width: 100%;
}

.verticalListLarge div.largeListEntry > div ul {
  width: 100%;
  max-width: 550px;
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
  flex-wrap: wrap;
}

.verticalListLarge div.largeListEntry > div ul li {
  width: 50%;
  min-width: 180px;
}

.verticalListLarge div.largeListEntry > div ul li:nth-child(2n - 1) {
  padding-right: 1rem;
}

.imageCarousel {
  width: var(--colEight);
  position: relative;
  height: 100%;
  margin-left: var(--gutter);
}

.imageCarousel::hover .imageCarousel > #carouselCursor {
  transition: transform .25s ease-in-out, opacity .25s ease-in-out;
  transform: scale(1.2) translate(-50%, -50%);
  opacity: 1;
}

.imageCarousel .draggerContainer {
  display: inline-flex;
  align-items: flex-start;
}

.imageCarousel .draggerContainer > div {
  min-width: 160px;
  height: 40vh;
  min-height: 350px;
  object-fit: cover;
  overflow: hidden;
}

.imageCarousel .draggerContainer > div img {
  height: 100%;
  transform: scale(1.07);
}

.imageCarousel .draggerContainer > div:not(:last-child) {
  margin-right: var(--gutter);
}

#ourFramework {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

#ourFramework .frameworkEntry {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#ourFramework .frameworkEntry.excel .iconContainer img {
  width: 99px;
}

#ourFramework .frameworkEntry:nth-of-type(2) {
  flex-direction: row-reverse;
}

#ourFramework .frameworkEntry:not(:last-child) {
  margin-bottom: 6rem;
}

#ourFramework .frameworkEntry:first-of-type .oliveBranch {
  left: -41%;
  top: -10%;
  transform: rotate(-210deg);
}

#ourFramework .frameworkEntry:nth-of-type(2) .oliveBranch {
  left: -4%;
  bottom: -4%;
  transform: rotate(-50deg);
}

#ourFramework .frameworkEntry:nth-of-type(3) .oliveBranch {
  left: -2%;
  top: -25%;
  transform: rotate(230deg);
}

#ourFramework .frameworkCard {
  width: 100%;
  height: 370px;
  position: relative;
  display: grid;
}

#ourFramework .frameworkCard .oliveBranch {
  position: absolute;
  width: 390px;
  height: 390px;
  opacity: .05;
}

#ourFramework .frameworkCard .iconContainer {
  height: 100%;
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maroon);
  padding-bottom: 7%;
}

#ourFramework .frameworkCard .iconContainer:last-of-type {
  display: none;
}

#ourFramework .frameworkCard .iconContainer img {
  width: 90px;
}

#ourFramework .frameworkCard .cardInfo {
  display: flex;
  position: absolute;
  bottom: 2rem;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  align-items: center;
}

#ourFramework .frameworkCard .cardInfo h3 {
  color: var(--tan);
  margin-bottom: 0;
}

#ourFramework .frameworkText {
  margin-top: 1rem;
}

.quoteLarge {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
}

.quoteLarge blockquote {
  font-size: clamp(1.75rem, calc(1.75rem + ((1vw - 0.25rem) * 1.1161)), 3rem);
  color: var(--dark);
}

#teamMembers {
  display: flex;
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  justify-content: center;
  flex-wrap: wrap-reverse;
  flex-grow: 1;
  max-width: 980px;
}

#teamMembers .col {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

#teamMembers .col:last-child {
  margin-bottom: 7rem;
}

#teamMembers .teamMemberEntry h4 {
  margin-bottom: 1rem;
}

#teamMembers .teamMemberEntry div.imageContainer {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

#teamMembers .teamMemberEntry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  transform: scale(1.04);
}

#teamMembers .teamMemberEntry:not(:last-child) {
  margin-bottom: 7rem;
}

#teamMembers .teamMemberEntry h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

#teamMembers .teamMemberEntry p {
  margin-bottom: .25rem;
}

#privacyPolicy {
  padding-top: 9rem;
  margin-right: var(--gutter);
  margin-left: var(--gutter);
  padding-bottom: 10rem;
}

#privacyPolicy h1 {
  margin-bottom: var(--gutter);
}

#privacyPolicy ul li::before {
  background: var(--light) !important;
}

#privacyPolicy #privacyBody {
  max-width: 800px;
  margin: 0 auto;
}

#privacyPolicy h2 {
  margin-bottom: .5rem !important;
  margin-top: 2rem;
}

#privacyPolicy h2:first-child {
  margin-bottom: 4rem !important;
}

#privacyPolicy h1, #privacyPolicy h2, #privacyPolicy h3, #privacyPolicy h4, #privacyPolicy h5, #privacyPolicy h6, #privacyPolicy p, #privacyPolicy ul, #privacyPolicy li, #privacyPolicy em, #privacyPolicy strong, #privacyPolicy pre, #privacyPolicy a {
  color: var(--light);
}

#privacyPolicy a {
  text-decoration: underline;
  transition: var(--powerEase);
}

#privacyPolicy a:hover {
  opacity: .5;
  transition: var(--powerEase);
}

#ErrorPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#ErrorPage h2 {
  color: var(--light) !important;
  text-align: center;
}

#meetUsPage {
  background: var(--maroon);
  padding-top: 10rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#meetUsPage h1 {
  margin-left: var(--gutter);
}

#meetUsPage main a:not(footer a) {
  color: var(--tan);
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

@media only screen and (min-width: 700px) {
  section {
    margin-bottom: 16rem;
  }
  section.verticalListSmall + section.imageCarousel {
    margin-top: calc(var(--gutter)* -2);
  }
  html {
    --gutter: 3rem;
  }
  #mobileNavMenu {
    display: none;
  }
  #navbar {
    padding: 1rem var(--gutter);
  }
  #navbar .logo {
    width: 4.25rem;
  }
  #navbar > nav {
    display: flex;
  }
  #navbar > nav a:not(:last-child) {
    margin-right: 1rem;
  }
  #navbar #hamburgerBtn {
    display: none;
  }
  header.headerStandard {
    padding-left: var(--gutter);
  }
  header.headerStandard h1 {
    width: var(--colSix);
  }
  header#headerLarge {
    height: 150vh;
  }
  header#headerLarge img {
    height: 55%;
  }
  footer .topSplit > div {
    max-width: var(--colFive);
  }
  footer #emailFormContainer {
    margin-top: 0;
    width: var(--colTwo);
  }
  footer .bottomSplit > div > p {
    margin-left: 3rem;
  }
  .verticalListSmall {
    width: var(--colSix);
    margin-left: var(--colOne);
    max-width: 1200px;
  }
  .verticalListSmall.hasDescription {
    width: var(--colSix);
    max-width: 1400px;
  }
  .verticalListSmall.hasDescription p {
    max-width: 450px;
  }
  .verticalListSmall .verticalListEntries div.listEntry {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .verticalListSmall .verticalListEntries div.listEntry h3 {
    margin-right: var(--gutter);
    min-width: unset;
  }
  .verticalListSmall .verticalListEntries div.listEntry p {
    max-width: var(--colFive);
    margin-left: auto;
  }
  .verticalListSmall .verticalListEntries div.listEntry:not(:last-child) {
    margin-bottom: var(--gutter);
  }
  .imageCarousel {
    width: var(--colSeven);
    margin-left: auto;
  }
  .imageCarousel .draggerContainer > div {
    width: var(--colSeven);
    height: 72vh;
  }
  #ourFramework {
    margin-right: auto;
    margin-left: auto;
    width: var(--colSix);
    max-width: 1200px;
  }
  #ourFramework .frameworkEntry:nth-of-type(even) .frameworkText {
    margin-right: var(--gutter);
  }
  #ourFramework .frameworkEntry:nth-of-type(odd) .frameworkText {
    margin-left: var(--gutter);
  }
  #ourFramework .frameworkEntry:not(:last-child) {
    margin-bottom: 9rem;
  }
  #ourFramework .frameworkText {
    width: var(--colTwo);
  }
  #ourFramework .frameworkCard {
    width: 300px;
    height: 450px;
  }
  #ourFramework .frameworkCard .iconContainer {
    padding-bottom: 12%;
  }
  .quoteLarge {
    width: var(--colFour);
    margin-right: var(--colOne);
    margin-left: var(--colOne);
    max-width: 2000px;
  }
  #teamMembers {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - (var(--gutter) *2));
  }
  #teamMembers .col {
    width: var(--colTwo);
    max-width: 360px;
  }
  #teamMembers .col .teamMemberEntry div.imageContainer {
    height: 550px;
  }
  #teamMembers .col:last-child {
    margin-left: var(--colTwo);
    margin-top: 22rem;
  }
  .verticalListLarge {
    margin-left: var(--colOne);
  }
  .verticalListLarge div.largeListEntry > div h2 {
    margin-right: 1rem;
  }
  .verticalListLarge div.largeListEntry > div h2 > div {
    width: var(--colFour);
  }
}

@media (hover: hover) {
  #carouselCursor {
    display: block;
  }
}
