* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --maroon: #7B0E26;
  --tan: #DFB596;
  --light: #F7F5F3;
  font-size: 87.5%;
  background: var(--maroon);
}

h1, h2, h3 {
  font-family: 'Cormorant Garamond', serif;
  font-variant-numeric: lining-nums;
}

h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-kerning: normal;
  letter-spacing: -.002em;
  color: var(--light);
  font-size: 8rem;
  line-height: 95%;
  margin-top: 1rem;
}

h4 {
  letter-spacing: .07em;
}

h4, h5, h5, a, p {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--tan);
}

header {
  background: var(--maroon);
  color: var(--light);
  padding-left: 4rem;
}

footer {
  background: var(--maroon);
  color: var(--light);
}
